.v-toast{
    &__text{
        font-size: 14px;
        padding: 1em;
    }
    &__icon{
       width: 22px;
       height: 22px;
       min-width: 22px;
    }
    &__item--error{
        background-color: $color-red-light;
        color: $color-red-dark;
    }
    &__item--success{
        background-color: $color-green-light;
        color: $color-green-dark;
    }

}
