
$color-primary: #1ab394;

$color-red-light: #fdebeb;
$color-red-dark: #f46262;

$color-yellow-light: #fef8e8;
$color-yellow-dark: #f7ce6c;

$color-green-light: #ebf9eb;
$color-green-dark: #63cc62;

$color-gray: #6e777d;
$color-gray-dark: #25282a;


$color-input: #d0d0d0;

$light-shadow:  1px 2px 4px rgba(0, 0, 0, 0.1) !important;


